@* main sidemenu *@
@if (ViewContext.RouteData.Values["Controller"].ToString()!= "Client")
{
    <ul class="sidebar-menu" data-widget="tree">
        @* Add DT brand *@
        <li class="header">Main Navigation</li>
        <!--Recon mananagement level 1-->
        @* Recons management *@
        <li class="treeview">

            <a>
                <i class="fa fa-dollar "></i><span>Recon Management</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="#"><i class="fa fa-book"></i> <span>Prepared recons</span></a></li>

            </ul>
        </li>
        <li class="treeview">
            @*Level 1*@
            <a href="#">
                <i class="fa fa-file-o"></i> <span>Available Recons</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>@*  *@
            <ul class="treeview-menu text-wrap ">
                <li class="treeview">
                    <a href="#">
                        <span>Interbank ATM</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu text-nowrap">
                        @* ---Level 2---*@
                        <li><a href="#"><i class="fa fa-circle-o"></i> <span>Query</span></a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i> <span>Properties</span></a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i> <span>Recon</span></a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i> <span>Balancing</span></a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i> <span>Markoff</span></a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i> <span>Journals</span></a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i> <span>Postilion 808 Groupsum</span></a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i> <span>Enterprise ATD Groupsum</span></a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i> <span>Bankserv SQS</span></a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i> <span>Bankserv 11105</span></a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i> <span>Bankserv Late Compl</span></a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i> <span>Bankserv 11105 Split</span></a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i> <span>Bankserv 11105 Summary</span></a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i> <span>Bankserv 11105 Groupsum</span></a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i> <span>Pastel statement</span></a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i> <span>Documentation</span></a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i> <span>SARB AC001</span></a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i> <span>Reports</span></a></li>
                    </ul> <!--queries-->
                </li>
                <li><a href="#"> </a></li>
                <li><a href="#">Real Time Clearing</a></li>
                <li><a href="#">VISA</a></li>
                <li><a href="#">Inbound EFT</a></li>
                <li><a href="#">Inter Branch</a></li>
                <li><a href="#">Outbound EFT</a></li>
                <li><a href="#">ATM Cash Management Cash in Transit</a></li>
                <li><a href="#">ATM Cash Management Branch Cashed</a></li>
                <li><a href="#">Product Balances / Account Balances</a></li>
                <li><a href="#">Code Line Clearing</a></li>
                <li><a href="#">National Settlement </a></li>
                <li><a href="#">ATM On Us </a></li>
                <li><a href="#">Inter Account Transfer</a></li>

            </ul>
        </li>
    </ul>
}
else
{

}
